$media-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        "2xl": 1440px,
        "3xl": 1920px,
);

$font-sizes: (
        xs: 0.75rem,
        sm: 0.875rem,
        md: 1rem,
        lg: 1.125rem,
        xl: 1.25rem,
        xxl: 1.5rem,
        "3xl": 1.75rem,
        "4xl": 2rem
);