.bug {
  background: linear-gradient(180deg, #c9ff78, #35d82f);
}

.dark {
  background: linear-gradient(180deg, #cacaca, #575757);
}

.dragon {
  background: linear-gradient(180deg, #4693bd, #ff5a4e);
}

.electric {
  background: linear-gradient(180deg, #fff4ab, #ffe433);
}

.fairy {
  background: linear-gradient(180deg, #fdb9e9, #ff4dca);
}

.fighting {
  background: linear-gradient(180deg, #ffa488, #c75c1a);
}

.fire {
  background: linear-gradient(180deg, #fffd75, #fd5724);
}

.flying {
  background: linear-gradient(180deg, #a4ebff, #52d2f5);
}

.ghost {
  background: linear-gradient(180deg, #c29cff, #3e00a0);
}

.grass {
  background: linear-gradient(180deg, #ffb1ff, #72ff6d);
}

.ground {
  background: linear-gradient(180deg, #ffe3ae, #c5b759);
}

.ice {
  background: linear-gradient(180deg, #c5f1ff, #5ad2f6);
}

.normal {
  background: linear-gradient(180deg, #b0eeff, #a4acaf);
}

.poison {
  background: linear-gradient(180deg, #eeaeff, #b97fc9);
}

.psychic {
  background: linear-gradient(180deg, #f9ff9f, #f366b9);
}

.rock {
  background: linear-gradient(180deg, #fff5a6, #807940);
}

.steel {
  background: linear-gradient(180deg, #eafeff, #bbbbbb);
}

.water {
  background: linear-gradient(180deg, #8ec8ff, #2780d4);
}
